testenv/
vade/
.vscode/
data/
AE clustering/
VADE/
lightning_logs/
trained_models/
triplets_model VADE/
wandb/
__pycache__/
*.log
**/logs
*.ckpt
*.whl
#*.pkl
sweep*.yaml
.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoint
